# System files
.DS_Store

# R history
.Rhistory
.Rapp.history

# R Projects and user data
.Ruserdata
.Rproj.user/
.Rdata

# Rplots
Rplots.pdf

# Icon files
Icon
Icon\r
Icon\r\r
Icon?

# VSCode
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vscode/
# Local History for Visual Studio Code
.history/

# Local csvs 
**/output/*.csv

# System files
.DS_Store

# R history
.Rhistory
.Rapp.history

# R Projects and user data
.Ruserdata
.Rproj.user/
.Rdata

# Rplots
Rplots.pdf

# Icon files
Icon
Icon\r
Icon\r\r
Icon?

# VSCode
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vscode/
# Local History for Visual Studio Code
.history/
